.loader {
  height: 20px;
  width: 20px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px transparent;
  border-radius: 50%;
  animation: loader 0.5s infinite linear both
}

@keyframes loader {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
