@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  box-shadow: #d0d5ce;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #67bc45;
  border-radius: 5px;
  width: 100%;
}
